{
    "presets": [
        ["@babel/env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 9"],
          "node": "6.10"
        }
      }]
    ],
    "retainLines": true,
    "sourceMaps": true,
    "plugins": [
      ["@babel/transform-runtime", { "corejs": 2 }]
    ]
}
